

<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--

  -->
  <!-- Page Title -->
  <title>Welcome | McCoey Insurance Services, Inc.</title>
  <!-- / -->

  <!---Font Icon-->
  <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
  <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
  <!-- / -->

  <!-- Plugin CSS -->
  <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
  <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">

  <!-- / -->

  <!-- Theme Style -->
  <link href="static/css/styles.css" rel="stylesheet">
  <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
  <!-- / -->

  <!-- Favicon -->
  <link rel="icon" href="favicon.ico" />
  <!-- / -->
</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

  <!-- Loading -->
  <div class="sk-cube-grid" id="loading">
  <div class="load-circle">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
</div>
  <!-- / -->

  <!-- Header -->
  <header>
    <nav class="navbar header-nav fixed-top navbar-expand-lg">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          McCoey<span>Insurance Services, Inc.</span>
        </a>
        <!-- / -->
        <!-- Top Menu -->
        <div class="navbar-collapse top-menu flex-column collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li><a class="nav-link active" href="#home">Home</a></li> 
            <li><a class="nav-link" href="#about">About</a></li>
            <li><a class="nav-link" href="#services">Services</a></li>
            <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
            <li><a class="nav-link" href="#team">Team</a></li>
             <li>
              <a class="nav-link" href="javascript:;">Pages</a> 
              <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true"><i class="ti-angle-down"></i></span> 
              <ul class="sub-menu">
                <li>
                  <a href="aboutus.html">About Us</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li>
                  <a href="faqs.html">Faq's</a>
                </li>
                <li>
                  <a href="team.html">Team</a>
                </li>
                <li>
                  <a href="contatus.html">Contact us</a>
                </li>
              </ul>
            </li>
          </ul>
          
        </div>
         <ul class="navbar-nav extra-menu">
              <li class="search-box">
                <a class="nav-link search-toggle" href="javascript:void(0);"><i class="fa fa-search search_click"></i></a>
                <div class="searh-form">
                  <form>
                    <input class="input-search" type="text" name="search" placeholder="Search">
                    <button class="searc-btn"><i class="fa fa-search"></i></button>
                  </form>
                </div>
                <!-- Mobile Toggle -->
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
              <!-- Mobile Toggle End-->
              </li>
            </ul>

        <!-- / -->

      </div><!-- Container -->
    </nav> <!-- Navbar -->
  </header>
  <!-- Header End -->
  
  <!-- Main Start -->
  <main>

    <!-- Home Banner Start -->
   <section id="home" class="home-banner bg-center-center bg-cover" style="background-image: url(static/img/HomeBannerImage.jpg);"><!-- Home Banner Image -->
      <div id="particles-box"></div>

      <div class="container">
        <div class="row full-screen align-items-center">
          <div class="col col-md-7 col-lg-7 col-xl-9 md-p-30px-b p-50px-tb">
            <div class="home-text-center theme-after p-50px-r md-p-0px-r">
              <label>Welcome To</label>
              <h1 class="font-alt">McCoey Insurance Services, Inc</h1>
              <p></p>
              <div class="app-btn-set">
                <a href="aboutus.html" class="m-btn" data-text="Free Trial">About US</a>
              </div>

            </div> <!-- home-text-center -->
          </div> <!-- col -->
          <div class="col-md-5 col-lg-5 col-xl-3 p-60px-t md-p-20px-t home-right-img text-center">
            <img src="" title="" alt=""><!-- Logo here -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div><!-- container -->
    </section>
    <!-- / -->

    <!-- Feature Section -->
    <section id="about" class="section feature-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 m-15px-tb">
            <div class="feature-box" style="">
              <div class="icon">
                <i class="fas fa-user theme-color"></i>
              </div>
              <h3 class="font-alt">Satisfy Clients</h3>
              <p>Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div> <!-- col -->

          <div class="col-md-4 m-15px-tb">
            <div class="feature-box box02" style="background-image: url();">
              <div class="icon">
                <i class="fas fa-check-square theme-color"></i>
              </div>
              <h3 class="font-alt">HIGH QUALITY</h3>
              <p>Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div> <!-- col -->

          <div class="col-md-4 m-15px-tb">
            <div class="feature-box" style="background-image: url();">
              <div class="icon">
               <i class="fas fa-phone-square theme-color"></i>
              </div>
              <h3 class="font-alt">24/7 SUPPORT</h3>
              <p>Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Why Choose us -->
    <section class="section">
      <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
              <div class="right-img-block">
                <div class="section-title">
              <h2 class="theme-after">Why Choose us</h2>
              <div class="col-md-11 col-lg-11 text-center p-0px-lr m-10px-t">
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
              <div class="row">
                <div class="col-md-5 col-lg-5 p-0px-lr text-left m-10px-t p-15px-l"><span>15</span><p class="title">Years of Experience</p></div> 
                <div class="col-md-5 col-lg-5 p-0px-lr text-left m-10px-t p-15px-l"><span>99</span><p  class="title">Completed Project </p></div></div>
              </div>
            </div>
              </div>
            </div> <!-- col -->
            <div class="col-md-5 sm-m-30px-t">
              <img src="static/img/600x375.jpg" title="" alt="">
            </div>
        </div><!-- row -->
      </div>
    </section>
    <!-- / -->

<!-- Our Services -->
<section id="services" class="section gray-bg">
    <div class="container">
      <div class="row justify-content-center m-60px-b md-m-40px-b">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="section-title">
            <h2 class="theme-after">Our Services</h2>
            <p>Our company is dedicated to your business. We pride ourselves in the 24-hour turnaround on Certificates of Insurance.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 md-m-25px-b">
          <div class="services-item">
            <div class="img">
              <img src="static/img/services/servicesImage1.jpg" title="Investment" alt="Worker Image">
            </div>
            <div class="services-content">
              <h4><a href="#">Contractor General Liability Insurance</a></h4>
               <a href="./Contractor-Insurance.html" class="m-btn">View more</a>
            </div>
          </div>
        </div> <!-- col -->

         <div class="col-md-4 md-m-25px-b">
          <div class="services-item">
            <div class="img">
              <img src="static/img/services/servicesImage2.jpg" title="ARCHITECTURE" alt="Workers Image">
            </div>
            <div class="services-content">
              <h4><a href="#">Workers’ Compensation</a></h4>
               <a href="./Workers-compensation.html" class="m-btn">View more</a>
            </div>
          </div>
        </div> <!-- col -->

         <div class="col-md-4 md-m-25px-b">
          <div class="services-item">
            <div class="img">
              <img src="static/img/services/servicesImage3.jpg" title="BUILDING ENGINEERING" alt="Auto Image">
            </div>
            <div class="services-content">
              <h4><a href="#">Business Auto</a></h4>
               <a href="./business-auto.html" class="m-btn">View more</a>
            </div>
          </div>
        </div> <!-- col -->

        <div class="col-md-4 md-m-25px-b">
          <div class="services-item">
            <div class="img">
              <img src="static/img/services/servicesImage4.jpg" title="BUILDING ENGINEERING" alt="Bonds Image">
            </div>
            <div class="services-content">
              <h4><a href="#">Bonds</a></h4>
               <a href="./bonds.html" class="m-btn">View more</a>
            </div>
          </div>
        </div> <!-- col -->

        <div class="col-md-4 md-m-25px-b">
          <div class="services-item">
            <div class="img">
              <img src="static/img/services/servicesImage5.jpg" title="BUILDING ENGINEERING" alt="Business Owners Owners">
            </div>
            <div class="services-content">
              <h4><a href="#">Business Owners Policies</a></h4>
               <a href="./buisness-owners-pol.html" class="m-btn">View more</a>
            </div>
          </div>
        </div> <!-- col -->

      </div> <!-- row -->
      
    </div> <!-- container -->
  </section>
    <!-- / -->

<!-- Our Portfolio -->
    <section id="portfolio" class="section">
      <div class="container">
        <div class="row justify-content-center m-60px-b md-m-40px-b">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="section-title">
              <h2 class="theme-after">Our Portfolio</h2>
              <p>ed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur </p>
            </div>
          </div>
        </div>

        <div class="portfolio-filter-01 m-15px-b text-center">
          <ul class="filter">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".photoshop" class="">ARCHITECTURE</li>
            <li data-filter=".illustration" class="">Developments</li>
            <li data-filter=".website" class="">ENGINEERING</li>
          </ul>
        </div> <!-- Portfolio Filter -->

        <div class="portfolio-content lightbox-gallery">
          <ul class="portfolio-cols portfolio-cols-4">
            <li class="portfolio-item illustration">
              <div class="portfolio-col portfolio-hover-04">
                <img src="static/img/767x767.jpg" title="" alt="">
                <a href="#" class="overlay theme-bg"></a>
                <div class="hover text-center p-10px">
                  <p class="font-alt color-white m-0px font-w-500 letter-spacing-1 font-alt font-18">Project Title</p>
                  <label class="font-13 color-white font-w-300 letter-spacing-1">Category</label>
                </div> <!-- hover -->
              </div> <!-- .portfolio-co -->
            </li> <!-- col -->
            <li class="portfolio-item photoshop website">
              <div class="portfolio-col portfolio-hover-04">
                <img src="static/img/767x767.jpg" title="The Vally Park" alt="The Vally Park">
                <a href="#" class="overlay theme-bg"></a>
                <div class="hover text-center p-10px">
                  <p class="m-0px">The Vally Park</p>
                  <label>Architecture Design</label>
                </div> <!-- hover -->
              </div> <!-- .portfolio-co -->
            </li> <!-- col -->
            <li class="portfolio-item illustration photoshop">
              <div class="portfolio-col portfolio-hover-04">
               <img src="static/img/767x767.jpg" title="The Vally Park" alt="The Vally Park">
                <a href="#" class="overlay theme-bg"></a>
                <div class="hover text-center p-10px">
                  <p class="m-0px">The Vally Park</p>
                  <label>Architecture Design</label>
                </div> <!-- hover -->
              </div> <!-- .portfolio-co -->
            </li> <!-- col -->
            <li class="portfolio-item photoshop website">
              <div class="portfolio-col portfolio-hover-04">
               <img src="static/img/767x767.jpg" title="The Vally Park" alt="The Vally Park">
                <a href="#" class="overlay theme-bg"></a>
                <div class="hover text-center p-10px">
                   <p class="m-0px">The Vally Park</p>
                  <label>Architecture Design</label>
                </div> <!-- hover -->
              </div> <!-- .portfolio-co -->
            </li> <!-- col -->
            <li class="portfolio-item Illustration">
              <div class="portfolio-col portfolio-hover-04">
                <img src="static/img/767x767.jpg" title="The Vally Park" alt="The Vally Park">
                <a href="#" class="overlay theme-bg"></a>
                <div class="hover text-center p-10px">
                 <p class="m-0px">The Vally Park</p>
                  <label>Architecture Design</label>
                </div> <!-- hover -->
              </div> <!-- .portfolio-co -->
            </li> <!-- col -->
            <li class="portfolio-item Illustration">
              <div class="portfolio-col portfolio-hover-04">
                <img src="static/img/767x767.jpg" title="The Vally Park" alt="The Vally Park">
                <a href="#" class="overlay theme-bg"></a>
                <div class="hover text-center p-10px">
                  <p class="m-0px">The Vally Park</p>
                  <label>Architecture Design</label>
                </div> <!-- hover -->
              </div> <!-- .portfolio-co -->
            </li> <!-- col -->
            <li class="portfolio-item Illustration">
              <div class="portfolio-col portfolio-hover-04">
                <img src="static/img/767x767.jpg" title="The Vally Park" alt="The Vally Park">
                <a href="#" class="overlay theme-bg"></a>
                <div class="hover text-center p-10px">
                   <p class="m-0px">The Vally Park</p>
                  <label>Architecture Design</label>
                </div> <!-- hover -->
              </div> <!-- .portfolio-co -->
            </li> <!-- col -->

          </ul> <!-- row -->
        </div> <!-- portfolio content -->
      </div> <!-- container -->
    </section>
     <!-- / -->

<!-- Our Team -->
<section id="team" class="section gray-bg">
      <div class="container">
        <div class="row justify-content-center m-45px-b md-m-25px-b">
          <div class="col-md-10 col-lg-5">
            <div class="section-title">
              <h2 class="theme-after">CREATIVE TEAM</h2>
              <p>Lorem Ipsum is simply dummy text  of the printing and  typesetting  industry.and gotal.</p>
            </div>
          </div>
        </div> <!-- row -->
        <div class="row">
          <div class="col-md-6 col-lg-3 m-15px-tb">
            <div class="our-team">
              <a href="#">
              <div class="img theme-before" style="background-image: url(static/img/767x767.jpg);"></div>
              <div class="info">
                <h6 class="theme-bg">Francis Brutt</h6>
                <span>Co Founder</span>
              </div></a>
            </div>
          </div> <!-- col -->
         <div class="col-md-6 col-lg-3 m-15px-tb">
            <div class="our-team">
              <a href="#">
              <div class="img theme-before" style="background-image: url(static/img/767x767.jpg);"></div>
              <div class="info">
                <h6 class="theme-bg">Chris Ryan</h6>
                <span>Director</span>
              </div></a>
            </div>
          </div> <!-- col -->
          <div class="col-md-6 col-lg-3 m-15px-tb">
            <div class="our-team">
              <a href="#">
              <div class="img theme-before" style="background-image: url(static/img/767x767.jpg);"></div>
              <div class="info">
                <h6 class="theme-bg">Martin Dean</h6>
                <span>Martin Dean</span>
              </div></a>
            </div>
          </div> <!-- col -->
          <div class="col-md-6 col-lg-3 m-15px-tb">
            <div class="our-team">
              <a href="#">
              <div class="img theme-before" style="background-image: url(static/img/767x767.jpg);"></div>
              <div class="info">
                <h6 class="theme-bg">Steave Leon</h6>
                <span>Artist</span>
              </div></a>
            </div>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
 <!-- / -->

<!-- Brand Logo -->
    <section class="section theme-bg p-30px">
       <div class="row">
           <div id="brand-slider-single" class="owl-carousel">
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
               <div class="brand-box"><a href="#"><img src="static/img/100x100.jpg" alt="Done" title="Done"></a></div>
              </div> <!-- owl -->

        </div> <!-- row -->
    </section>
     <!-- / -->
     
  </main>
  <!-- Main End -->

  <!-- Footer Start -->
  <footer id="contatus" class="footer">
      <section class="footer-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-5 sm-m-15px-tb md-m-30px-b">
              <h4 class="font-alt">About Us</h4>
              <p class="footer-text">
                      Built on service, trust, and reputation, 
                      our small independent commercial insurance 
                      agency tailors to the individual needs of the
                      construction industry professionals with A-rated 
                      insurance. We service all lines with experience, knowledge,
                      and understanding. Established for more than a decade, our team brings
                      a combination of expertise and competency with a licensed construction industry professional on staff.
                      We are sensitive to the unique requirements of small to medium size business contractors,
                      from plumbing, electrical, drywall, and general contractors. Recommendations and referrals
                      are the cornerstones to our business of personalized service, excellent support, and collaboration w
                      ith a knowledgeable agent.
            </p>
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="google" href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div> <!-- col -->
  
            <div class="col-6 col-md-5 col-lg-2 sm-m-15px-tb">
              <h4 class="font-alt">COMPANY LINKS</h4>
              
              <ul class="fot-link">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./aboutus.html">About Us</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div> <!-- col -->
  
            <div class="col-6 col-md-5 col-lg-2 sm-m-15px-tb">
              <h4 class="font-alt">OUR SERVICES</h4>
              <ul class="fot-link">
                  <li><a href="#">Contractor General Liability Insurance</a></li>
                  <li><a href="#">Workers’ Compensation</a></li>
                  <li><a href="#">Business Auto</a></li>
                  <li><a href="#">Bonds</a></li>
                  <li><a href="#">Business Owners Policies</a></li>
                </ul>
            </div>
  
          <div class="col-md-5 col-lg-3 sm-m-15px-tb">
              <div class="p-25px-l sm-p-0px-l md-p-0px-l md-m-30px-t">
                <h4 class="font-alt">Get in touch</h4>
                <p class="color-medium-gray"><strong>Address:</strong> amccoey1@aol.com <br>
                     <strong>Phone:</strong>  (925) 642-8221</p>
                <div class="newsletter-box m-20px-t">
                  <input name="email" placeholder="Email Address" class="input-medium" type="text">
                  <button type="submit" class="m-btn m-btn-l m-btn-icon"><i class="fab fa-telegram-plane"></i></button>
                </div>
              </div>
            </div>
          <!-- col -->
  
          </div>
  
        </div> <!-- container -->   
          <div class="footer-copy">
            <div class="row">
              <div class="col-12">
                <p>All © Copyright by . All Rights Reserved.</p>
              </div><!-- col -->
            </div> <!-- row -->
          </div> <!-- footer-copy -->
      </section>
    </footer>
    <!-- / -->

  <!-- jQuery -->
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/jquery-migrate-3.0.0.min.js"></script>
  <!-- Plugins -->
  <script src="static/plugin/bootstrap/js/popper.min.js"></script>
  <script src="static/plugin/bootstrap/js/bootstrap.min.js"></script>

  <script src="static/plugin/particles/particles.min.js"></script>
  <script src="static/plugin/particles/particles-app.js"></script>

  <script src="static/js/custom.js"></script>
  <!-- custom -->
  
</body>
<!-- Body End -->

</html>